.home {
    width: 100%;
    align-items: center;
    font-family: "Helvetica", sans-serif;
    color: white;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: top;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: "Coachella", serif;
    font-weight: 900;
    font-size: 200px;
    color: #FFFAD8;
    height: 70px;
    vertical-align: top;
    margin-top: 0px;
  }
  
  .about .prompt {
    width: 100%;
    font-size: 32px;
    font-family: "Unbounded",sans-serif;
    font-weight: 300;
  }
  .prompt svg {
    font-size: 45px;
    margin: 5px;
    color: white;
  }
  
  .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .intro h2 {
    font-size: 30px;
    font-family: "Coachella", sans-serif;
  }

  .intro p {
    font-size: 15px;
    font-family: "Unbounded", sans-serif;
    width: 50%;
  }
  
  .glow {
    text-shadow: 0 0 5px #FFFAD8;
  }

  .icons {
    text-decoration: none;
  }
  
 
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .intro {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .intro h2 {
      font-size: 30px;
    }
  }