.projectPage {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .projectPage h1 {
    margin-top: 50px;
    font-size: 35px;
  }
  .projectPage img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .projectPage p {
    font-size: 20px;
  }

  .projectPage h2 {
    font-size: 25px;
  }

  .projectPage h3 {
    font-size: 20px;
  }
  
  .projectPage svg {
    font-size: 60px;
  }


