@import url(https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap);

@font-face {
  font-family: 'Coachella';
  src: local('MADE Coachella Bold'), url(./fonts/coachbold.otf) format('opentype');
  font-weight: 900;
}

.App {
  text-align: center;
  /* background-color: #0F393D; */
	background: linear-gradient(307deg, rgba(9,35,39,1), rgba(15,57,61,1));
  color: #FFFAD8;
}

body {
  padding: 0;
  margin: 0;
}